$primary-color: #ff612d;
$secondary-color: #4c75a3;
$text-color: #5c5c5c;
$dark-color: #393939;
$light-color: white;

$active-color: #ff2e2e;
$passive-color: #ff9f2e;

$font-medium: 26px;
$font-large: 36px;
$font-larger: 48px;
$font-max: 54px;

.color-primary {
  color: $primary-color;
}

.color-text {
  color: $text-color;
}

.text-thin {
  font-weight: 100;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.d-block {
  display: block;
}

.responsive {
  width: 1080px;
}

.h-100 {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  @extend .text-light;

  color: $text-color;

  font-family: "Roboto", sans-serif;
  font-size: $font-medium;
}

h2 {
  @extend .text-thin;
  font-size: $font-max;
}

strong {
  @extend .text-bold;
}

ul {
  margin: 0;
}

hr {
  max-width: 434px;
  margin: 3rem auto;
}

a {
  color: $primary-color;
  text-decoration: none;

  display: block;

  transition: transform 0.1s ease-in-out;
  box-sizing: border-box;

  &:hover {
    color: $active-color;
    transform: translateY(-5px);
    text-decoration: underline;
  }
}
