$primary-color: #ff612d;
$secondary-color: #4c75a3;
$text-color: #5c5c5c;
$dark-color: #393939;
$light-color: white;
$muted-color: #bfbfbf;

$active-color: #ff2e2e;
$passive-color: #ff9f2e;

$gradient-bg: linear-gradient(230deg, rgba(255, 46, 46, 1) 0%, rgba(255, 159, 46, 1) 100%);

$font-small: 22px;
$font-medium: 26px;
$font-large: 36px;
$font-larger: 48px;
$font-max: 54px;

$heart-icon: url("./docs/heart.svg");

.color-primary {
  color: $primary-color;
}

.color-secondary {
  color: $secondary-color;
}

.color-text {
  color: $text-color;
}

.text-thin {
  font-weight: 100;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.d-block {
  display: block;
}

.responsive {
  max-width: 1080px;

  @media (max-width: 1080px) {
    overflow: hidden;
  }
}

.h-100 {
  height: 100%;
}

.mt-0 {
  margin-top: 0;
}

.btn {
  color: $light-color;
  // background: linear-gradient(167.48deg, $active-color 10%, $passive-color 130%);
  // background-clip: padding-box;
  background-color: $primary-color;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.25);
  background-repeat: round;
  border-radius: 50px;

  padding: 1rem 6rem;
  border: none;
  outline: none;
  // box-shadow: 0 0 0 0px white;

  // border: 4px solid rgba(0, 0, 0, 0);

  @extend .text-light;

  font-size: $font-medium;
  // box-sizing: border-box;

  transition: box-shadow 0.1s ease-in-out, transform 0.05s ease-out, background-color 0.1s ease-out;

  &:hover {
    // box-shadow: 0 0 0 4px white;

    // transform: translateY(-5px);
    background: white;
    color: $active-color;
  }

  &:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0);
    // box-shadow: 0 0 0 4px white;
  }
}

body {
  margin: 0;
  padding: 0;

  @extend .text-light;

  color: $text-color;

  font-family: "Roboto", sans-serif;
  font-size: $font-medium;
}

button {
  font-family: "Roboto", sans-serif;
}

h2 {
  @extend .text-thin;
  font-size: $font-max;
}

h3 {
  @extend .text-thin;
  font-size: $font-larger;
}

h4 {
  @extend .text-light;
  font-size: $font-large;
}

h5 {
  @extend .text-light;
  font-size: $font-medium;
}

strong {
  @extend .text-bold;
}

ul {
  margin: 0;
}

hr {
  max-width: 434px;
  margin: 3rem auto;
  background-color: $muted-color;
  border: none;
  height: 1px;
  // border-bottom: 1px solid $text-color;
}

a {
  color: $primary-color;
  text-decoration: none;

  display: inline;

  border-bottom: 0px $primary-color solid;

  transition: border 0.1s ease-in-out;
  box-sizing: border-box;

  &:visited {
    color: #3d5a79;
  }

  &:hover {
    color: $primary-color;
    border-bottom: 4px $primary-color solid;
    // transform: translateY(-5px);
    // text-decoration: underline;
  }
}

img.icon {
  width: 48px;
}
